html {
  overflow-y:scroll;
  overflow-x:hidden;
}

body {
  margin: 0;
  box-sizing: border-box;
  padding:0;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 5px;
  text-align: center;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal {
  display: none;
}
#progress-bar {
  border-radius: 25px;
  margin: 20px;
  width: 80vw;
  height: 2vw;
  border-radius: 25px;
  overflow: hidden; /* Important to clip the progress bar within the radius */
}
/* Hide the linear progress bar on mobile screens */
@media (max-width: 768px) {
  #progress-bar {
    display: none; /* Hide the linear bar container */
  }

  #circular-progress-bar {
    display: block; /* Ensure the circular progress bar is visible */
  }
}

/* For larger screens, only show the linear progress bar */
@media (min-width: 769px) {
  #progress-bar {
    display: block; /* Show linear progress bar */
  }

  #circular-progress-bar {
    display: none; /* Hide circular bar on larger screens */
  }
}

.farming-level-div {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 50px;
}
#farming-level {
  margin-right: 20px;
}

#farming-medals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.crop-medal {
  width: 150px;
  margin: 10px;
  text-align: center;
}

.crop-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.medal-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.medal-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid gray;
}

.medal-earned {
  background-color: gold; /* This color indicates the medal is earned */
}
.master-body {
  width: 100vw;
  margin: auto;
  padding-right: calc(100vw - 100%);
}
.body-content {
  width: 95vw;
  margin: auto;
  max-width: 1500px;
  background-color: #f2dea2;
  height: 100vw;
}



.content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content-text {
  width: 70%;
  background-color: #f2c4de;
  height: 100%;
  min-height: 800px; /* TEMP */
}
.armor-container {
  width: 30%;
  height: 100%;
  min-height: 800px; /* TEMP */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.armor-box {
  height: 120px;
  width: 120px;
  background-color: #c2eec7;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.accessorie-item {
  height: 100px;
  width: 100px;
  background-color: #c2eec7;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.armour-wrapper {
  height: 600px;
  background-color: #b78876;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.armor-acces {
  height: 200px;
  background-color: #71b1d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 1500px) {
  .body-content {
    width: 95vw;
    margin: auto;
  }
  .accessorie-item {
    height: 80px;
    width: 80px;
  }
}
.minor-content{
  height:300px;
  border:1px #71b1d9 solid;
}
@media screen and (max-width: 1000px) {
  .content-container {
    flex-direction: column-reverse;
  }
  .armor-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height:auto;
    min-height:600px;
    
  }
  .content-text {
    width: 100%;
  }
  .armour-wrapper {
    height: 100%;
    background-color: #b78876;
    width:50%;
    min-height: 600px;
  }
  .armor-acces {
    height:100%;
    width:50%;
    flex-direction: column;
    justify-content: space-around;
    min-height: 600px;
    
  }
  .accessorie-item {
    height: 100px;
    width: 100px;
  }
}